<nav id="sidebar">
  <!-- <h3>
    <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>
  </h3> -->
  
  
  <ul class="list-unstyled">  
      <li [ngClass]="getActiveClass('home')">
        <a (click)="home()">Home</a>
      </li>    
      <li [ngClass]="getActiveClass('devices')">
          <a (click)="devices()">Controllers</a>          
      </li>
      <li [ngClass]="getActiveClass('status')">
          <a (click)="status()">Status</a>
      </li>
      <li [ngClass]="getActiveClass('schedules')">
          <a (click)="schedules()">Schedules</a>
      </li>
      <li [ngClass]="getActiveClass('config')">
          <a (click)="config()">Config</a>
      </li>
      <li [ngClass]="getActiveClass('history')">
          <a (click)="history()">History</a>
      </li>
      <li *ngIf="authService.isLoggedIn">
          <a (click)="authService.logout()">Logout</a>
      </li>
  </ul>
</nav>