<div *ngIf="loaded">
    <div class="row">        
        <div class="col-sm-12">
            <button (click)="back()" class="btn btn-nav" data-toggle="tooltip" data-placement="top" title="Back">
                <i class="fa fa-angle-left"></i>
            </button>
            <h4>{{program.Name}}</h4>
        </div>        
    </div>

    <div class="row">        
      <div class="col-sm-12"> 
        <div *ngIf="program">
          <div class="form-group">
              <label for="address">Name</label>
              <input type="text" class="form-control" id="address" [(ngModel)]="program.Name" required>
          </div>
          <div class="form-group">
              <label for="startdate">Start</label>
              <input type="datetime-local" class="form-control" id="startdate" name="start"             
                [value]="startDate" (change)="startDate=$event.target.value"/>
                <!-- [ngModel]="program.Start" (ngModelChange)="program.Start=$event"/> -->
          </div>
          <div class="form-group">
              <label for="enabled">Enabled</label>
              <input type="checkbox" class="form-control" id="enabled" [ngModel]="program?.Enabled" (ngModelChange)="program.Enabled=$event">
          </div>          
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-12">        
        <button type="button" class="btn btn-success" (click)="save()">
            Save
        </button>
        <button type="button" class="btn btn-danger" (click)="delete()">
            Delete
        </button>
        <button type="button" class="btn btn-success" (click)="refreshConfig()">
            Refresh config
        </button>        
      </div>
    </div>
    <h5 *ngIf="program.Steps?.length==0">No program steps configured</h5>
    <h5 *ngIf="program.Steps?.length>0">Program steps</h5>
    <div class="row" *ngFor="let step of program.Steps" (click)="stepClick(step)">
        <div class="col-sm-12">
            <app-step-item [Step]="step"></app-step-item>
        </div>
      <!-- <div class="col-sm-12"> 
          <div [ngClass]="getStatusClass(step)">
              <div class="panel-title">
                  
                  ({{step.Sequence}})&nbsp;
                  {{step.SolenoidName}} for {{step.Duration}} minutes.
              </div>
          </div>
      </div> -->
    </div> 
    <div class="row">
      <div class="col-sm-3">
          <button type="button" class="btn btn-success" (click)="newStep()">
              <i class="fa fa-plus"></i>Add step
          </button>
      </div>
    </div>
    

    

</div>