<div *ngIf="loaded">
    <div class="row">        
        <div class="col-sm-12">
            <button (click)="back()" class="btn btn-nav" data-toggle="tooltip" data-placement="top" title="Back">
                <i class="fa fa-angle-left"></i>
            </button>
            <h4>Programs</h4>
        </div>        
    </div>

    <h5 *ngIf="programs?.length==0">No programs configured</h5>
    <div class="row" *ngFor="let program of programs" (click)="programClick(program)">
        <div class="col-sm-12"> 
            <div [ngClass]="getStatusClass(program)">
                <div class="panel-title">
                    <i class="fa fa-cog"></i> 
                    {{program.Name}}                    
                </div>
            </div>
        </div>
    </div> 

    <div class="row">
        <div class="col-sm-3">
            <button type="button" class="btn btn-success" (click)="newProgram()">
                <i class="fa fa-plus"></i>
            </button>
        </div>
      </div>
</div>