<h4>Controllers</h4>
<div *ngIf="loaded">
    <p>
        Welcome {{user.FirstName}}.<br/>
        Here are your controllers.
    </p>
    <div class="row" *ngFor="let device of user.devices" (click)="navToDevice(device)">
        <div class="col-sm-12"> 
            <div [ngClass]="getStatusClass(device)">
                <div class="panel-title">
                    <i class="fa fa-cog"></i>
                    {{getStatusText(device)}} 
                </div>
            </div>
        </div>
    </div>                 
</div>
 