<div class="wrapper">
    <!-- Sidebar -->
    <app-sidenav></app-sidenav>
    
    <!-- Dark Overlay element -->
    <div class="overlay"></div>
    
    <!-- Page Content -->
    <div id="content">
        <div class="row" id="header">  
            <div class="col-2">      
            <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="sidebarClick()">
                <i class="fas fa-bars"></i>                
            </button>          
            </div> 
            <div class="col-10">
                <img class="logo" src="assets/IC-Logo-sm-nt.png"/>
                <h1 id="app-title" (click)="home()">Irrigation Central</h1> 
            </div>                                         
        </div>   
        <div class="container">     
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
